/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {a
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */






audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  margin: 0;
}

html,body{

margin:0;
padding:0;
height: 100%;

}


body {

    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}



header{
    width:100%;
    position:fixed;

}

.wrapper {

min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
clear:both;
width:100%;
}


.letter{
    background-color:#ecf0f1;
    width: 70%;
    height: 60%;
    overflow: scroll;
    margin: 0 auto;
    color: black
}

.info{
    
    color:black;
    float:left;
}



.top img{
    margin: 0 auto;
}


.top{

    background: rgb(27, 129, 153) ;
    width: 100%;

}

img#logo {
margin-top: 30px;
}

@media(min-width: 950px){

.top{
    float:left;
    width: 100%;


}

.top img{
    max-width: 40%;
    float:left;
    margin-left: 8.5em;
}

form{
margin-right: 9.5em;
float: right;
}


}





/* header ,main nav & search */


@media(max-width: 950px){
.top{

margin:0 auto;


}
.top img{

    margin:0 auto;
    width:100%;

}

nav{
    padding-top:1em;
    display: block;
    
    

    }

    nav a{
        width:100%;
        display: block;
        padding: 5px;
        box-shadow: 0 .5px #ddd;
        text-align: center;
        text-decoration: none;
        color:white;
    }



    form{

        margin: 0 auto;
        width:50%;


    }


}

@media(min-width: 950px){

 nav {

    float:right;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 8.5em;

 }

 nav a{
    padding-left:.5em;
    font-size:16px;
    text-decoration: none;
    color:white;
    padding-right: 1em;


 }


}




nav a:hover{

color: #f1c40f;

}
nav a:active {
color:#f39c12;
}

/*End Navigation*/




/*side-bar*/
.menu-bar{
border-left: 2px solid #ecf0f1;
border-right: 2px solid #ecf0f1;
width: 100%;
background-color: #ecf0f1;
/* position: fixed; */
top: 4.7em;
/* height: 100%; */
border-top: px solid #ecf0f1;
display: inline-block;
margin: 0 auto;
text-align: center;
margin-top: 4.9em;

}
.menu-bar ul{
    padding:0;
}

.menu-bar h3{
    padding-top: .3em;
    text-align: center;

}


.menu-bar ul li{


list-style-type: none;
cursor: pointer;
display: inline;
padding-left: 1em;
padding-right: 1em;

}

/*side-bar end*/

/*main content style*/
.content{
float: left;
width: 72%;
margin-left: 300px;
margin-top: 5.5em;
/* clear: both; */
}
.content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



.content h1 {
    text-align: center;
}

.content p {
    padding: 0px 15px 15px 15px;
    font-family: Georgia, Serif;
}
/*end main content style*/




















/*p class=info 
.info
{
    color:rgb(27, 129, 153);
}
*/

p {
    margin: 0;
    padding: 0;
}




.highlight {
background-color: white;
box-shadow: rgb(255, 228, 196) 0px 0px 0px 1px;
}



.mainbody {
    clear:both; 
    background: white;
    color: rgb(27, 129, 153);
    width: 80%;
    margin: 0 auto;
    padding-top: 65px;
  
}












/*footer*/




.footer, .push {
height: 0em;
}

.footer{
clear :both;
background:white ;

}



.fmiddleRep{
    width:100%;
    margin:0 Auto;
    text-align: center;
    padding-top: 15px;
}
/*End Footer*/






/*home page content columns*/
.col{
    margin:0 auto;
    background-color: #ecf0f1;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;

}

.col h4{
    text-align: center;

}
.col p{

     font-size: 16px;
}
 .contact{
    clear:both;

 }
 /*End of columns*/



 hr{
    margin:0 auto;
    height:15px;
 }





 /*Jump To Top Arrow*/
 

  img#jump-to-top {
background-color: rgb(27, 129, 153);
border-radius: 28px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
display: inline-block;
padding: 4px 3px;
position: fixed;
bottom: 0px;
right: 0px;

}

/*End jump to top arrow*/






/* heading3  */
h3{
  
    margin:0 1.5%;




}
 ul li button{


    margin-top: 5px;

 }
 ol li button{


    margin-top: 5px;
 }




/* ---------- MEDIA QUERIES --------------*/



























































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
