/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


.desc{
    font-size: 16px;
    color: black;


}

#sl_search_box
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 100px auto 50px;
    overflow: hidden; /* Clear floats */
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */


.info{

    color:black;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {

    
    font-family: Arial, Helvetica, sans-serif;

}

p {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
    background: #1b8199;
    color: white;
    position: fixed;
    padding-bottom: 5px;

}

.title {
    
    margin-left: 10px;
    display: inline-block;
    width:100%;
}

.title img {
    max-width: 100%;
}

.search {
    float: right;
    line-height: 60px;
    margin-right: 25px;
    margin-top: 20px;

}

.search img {
    display: none;
}

nav {
   clear:both;
    height: 60px;
    text-align: center;
    padding-top: 60px;
    width:100%;

}


nav a {
   
    font-size: 16px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    border-right: 1px solid gray;
    padding-right: 5px;
}

nav a:hover {
    color: #5DBCD2;
}

a:active, a:hover {
 color: red;
  outline: 0;

}

.smallheader {
    display: none;
}

.headerspacer {
    width: 100%;
    height: 60px;
    background: #1b8199;
}

.mainbody {
    background: white;
    color: rgb(27, 129, 153);
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;


}

.mainbody img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



.mainbody h1 {
   font-family: ‘Lucida Console’, Monaco, monospace;
    text-align: center;
}

.mainbody p {
    padding: 0px 15px 15px 15px;
    font-size: 20px;
    font-family: Georgia, Serif;
}





.topics {
    margin-left: 30%;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 22px;
    background: #1b8199;
    color: white;
    padding-top: 20px
}

.fleft {
    float: left;
    width: 50%;
    text-align: left;
    color: rgb(0, 0, 38);
    background: #1b8199;
}

.fleft a {
    color: white;
    text-decoration: none;
}

.fleft p {
    margin-left: 200px;
}

/*.fmiddle {
    float: left;
    width: 34%;
    text-align: center;
    color: rgb(255, 255, 255); 
    background: #1b8199;
}*/

.fmiddleRep{
    width:100%;
    margin:0 Auto;
    text-align: center;
    padding-top: 15px;
}

.fright {
    float: right;
    width: 50%;
    text-align: right;
    color: rgb(255, 255, 255); 
    background: #1b8199;
}

.fright p {
    margin-right: 200px;
}

#return {
    text-align: right;
    padding-right: 50px;
}

/*footer */

* {
margin: 0;
}
html, body {
height: 100%;
}




.wrapper {

min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
clear:right;
}


.col{
    margin:0 auto;
    background-color: #ecf0f1;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%

}

.col h4{
    text-align: center;

}
.col p{

     font-size: 16px;
}
 .contact{
    clear:both;

 }

 hr{
    margin:0 auto;
    width:90%;
    height:15px;
 }


/* ---------- MEDIA QUERIES --------------*/

@media (max-width: 1502px) {
    .title {
        margin-left: 10px;
        width: 100%;
    }
    nav {
        margin-right: 130px;
    }




    }
}

@media (max-width: 1332px) {
    nav {
        margin-right: 120px;
    }
    nav a {
        padding-right: 10px;
    }
}

@media (max-width: 1332px) {
    nav a {
        font-size: 24px;
    }
}

@media (max-width: 1247px) {
    nav a {
        font-size: 20px;
        padding-right: 8px;
    }
    .title {
        margin-left: 110px;
    }
}

@media (max-width: 1103px){

}

@media (max-width: 1103px) {
    .title {
        margin-left: 50px;
    }
    nav {
        margin-right: 40px;
    }

}

@media (max-width: 960px) {
    header {
        height: 30px;
    }
    .headerspacer {
        height: 30px;
    }
    .title {
        float: left;
        margin-left: 100px;
        margin-right: -50px;
    }
    .title img {
        max-width: 100%;
        height: 50%;
        width: 50%;
    }
    .search {
        float: left;
        line-height: 30px;
    }
    .search #mysearch2 {
        display: none;
    }
    .search img {
        display: inline;
        height: 95%;
        width: 95%;
    }
    nav {
        float: right;
        margin-right: 90px;
    }
    nav a {
        line-height: 30px;
        font-size: 15px;
    }
    .topics {
        margin-left: 20%;
    }
    .search2 {
        margin-top: 0px;
    }
    .search2 input {
        display: none;
    }
    .search2 img {
        line-height: 30px;
    }
}

@media (max-width: 850px) {
    .title {
        margin-right: -125px;
    }
    .mainbody h1 {
        font-size: 1.75em;
    }
    .mainbody h2 {
        font-size: 1.25em;
    }
    .mainbody p {
        font-size: 19px;
    }
    .topics {
        margin-left: 10%;
    }
}

@media (max-width: 760px) {
    .title {
        margin-right: -150px;
    }
    nav {
        float: none;
    }
}

@media (max-width: 660px){
    .mainbody {
        width: 100%;
    }
    .title {
        display: none;
    }
    .search {
        display: none;
    }
    header nav {
        display: none;
    }
    .smallheader {
        display: inline;
        width: 100%;
    }

    .smallheader * {
        margin: 0;
        padding: 0;
    }
    .smallheader #smalltitle {
        height: 30px;
        width: 150px;
    }
    .smallheader img {
        height: 30px;
        width: 30px;
    }
    .smallheader nav {
        display: inline;
        margin-left: 0;
    }
    .smallheader nav a {
        padding-right: 3px;
    }
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
