---
title: Index Page
---

{% include header.html %}
<div class="wrapper">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
        
            <p>Your website content here.</p>
            <div class="push"></div>
        </div>
    
{% include footer.html %}
