<header>

        <div class='top'>

                
            <a href="{{ site.url }}"><img src="{{ site.url }}/img/titleimg.png" alt="NYS Lawyer-Tenant Rights" /></a>



        <nav role="navigation">
                <a href="{{ site.url }}/tenants-rights">Tenants Rights</a>
                <a href="{{ site.url }}/renting">Rent Control</a>
                <a href="{{ site.url }}/leases">Leases</a>
                <a href="{{ site.url }}/repairs">Repairs</a>
                <a href="{{ site.url }}/evictions">Evictions</a>
                <a href="{{ site.url }}/termination">Termination</a>
        </nav> 

        </div>  



</header>

    

<form method="get" action="http://www.sitelevel.com/query" accept-charset="utf-8">
  <div class="sl_search_box">
    <input type="hidden" name="crid" value="wqabs9qg"/>
    <input type="text" name="query"/>
    <button type="submit">Search</button>
  </div>
</form>        
     <hr>
   


    <div class="wrapper">


   
