
<header role="banner">
        <div class="title">
            <a href="{{ site.url }}"><img src="{{ site.url }}/img/titleimg.png" alt="NYS Lawyer-Tenant Rights" /></a>
        </div>
        <div role="search" class="search">
            <img src="img/search.png" alt="search icon" />
            <input id="mysearch2" type="search" placeholder="Search for information.">
            <a href="#"><img src="{{ site.url }}/img/titleimg.png" id="smalltitle" alt="NYS Lawyer-Tenant Rights" /></a>
            <img src="{{ site.url }}img/search.png" alt="search icon" />
        </div>

        <div class="smallheader">
            
        </div>
    </header>

        <nav role="navigation">
                <a href="{{ site.url }}/renting">Renting</a>
                <a href="{{ site.url }}/leases">Leases</a>
                <a href="{{ site.url }}/repairs">Repairs</a>
                <a href="{{ site.url }}/evictions">Evictions</a> 
        </nav>           
            
   
