
<header role="banner">
        <div class="title">
            <a href="{{ site.url }}"><img src="{{ site.url }}/img/titleimg.png" alt="NYS Lawyer-Tenant Rights" /></a>
                    
            <!-- Begin siteLevel HTML Searchbox Code -->
<form method="get" action="http://www.sitelevel.com/query" accept-charset="utf-8">
  <<div role="search" div class="search">
    <input type="hidden" name="crid" value="wqabs9qg"/>
    <input type="text" name="query"/>
    <button type="submit">Search</button>
  </div>
</form>
<!-- End siteLevel HTML Searchbox Code -->
        </div>
        </div>


    </header>

        <nav role="navigation">
                <a href="{{ site.url }}/tenants-rights">Tenants Rights</a>
                <a href="{{ site.url }}/renting">Rent Control</a>
                <a href="{{ site.url }}/leases">Leases</a>
                <a href="{{ site.url }}/repairs">Repairs</a>
                <a href="{{ site.url }}/evictions">Evictions</a>
                <a href="{{ site.url }}/termination">Termination</a>
        </nav>           
            <hr>
   
